@import "../colors/colors.css";
.section_navbar {
  background-color: var(--color-background-navbarGlobal-dark);
  box-shadow: 0 1px 1px #ffffff1a, 0 8px 16px #8686861a;
  display: flex;
  position: relative;
  z-index: 7;
  padding: 20px;
  margin: 10px;
}
.section_navbar ul {
  display: flex;
  gap: 20px;
}

.section_navbar ul li {
  list-style: none;
}

.section_navbar button {
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
  &:hover {
    background-color: var(--hover-color-button-default);
  }
}

.section_navbar button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-text-link);
}

/*outlet*/
